{% extends "layoutAdmin.njk" %}

{% block content %}


    <div class="form_header">   
        <h2>Chef: {{chefs.name}}</h2> 
        <div>
            <a href="{{chefs.id}}/edit" class="button">Editar Chef</a>
        </div>
    </div>

<section class="recipes">
                <div class="chef-image">
                        <img src="{{chefs.avatar_url}}" alt="{{chefs.name}}"
                        style="background: no-repeat center center/ cover;">
                </div>
                <div class="recipe-title">
                        <h2>{{chefs.name}}</h2>
                </div>
                <div class="recipe-author">
                        <p>{{chefs.total_recipes}} receitas</p>
                </div>

        
                <h2>Receitas </h2> 
                
        <section id="cards" class="admin">
        {% for recipe in recipes %}
                
        <div class="card_admin" id="{{recipe.id}}">

                <div class="image_container_admin">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </div>
                <div class="card_content_admin">
                        <h2>{{recipe.title}}</h2>
                
                <div class="card_info_admin">
                        <p>por {{chefs.name}}</p>
                </div>
                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>   
                </div>
                        

        </div>
        {% endfor %}
        </section>

</section>


{% endblock %}


