{% extends "layout.njk" %}

{% block  head %}
<title>Receitas </title>
{% endblock %}

{% block content %}

    <section id="cards">

        {% for recipe in recipes %}
            <div class="card" id="{{recipe.recipe_name}}">
                <div class="image_container">
                    <img src="{{recipe.recipe_url}}" alt="{{recipe.recipe_name}}">
                </div>
                <div class="card_content">
                    <h2>{{recipe.recipe_name}}</h2>
                </div>
                <div class="card_info">
                    <p>{{recipe.recipe_author}}o</p>

                </div>

            </div>
            {% endfor %}
        

        
    </section>

{% endblock %}