<section id="cards">

        {% for recipe in recipes %}
            <div class="card" id="{{recipe.title}}">
                <div class="image_container">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </div>
                <div class="card_content">
                    <h2>{{recipe.title}}</h2>
                </div>
                <div class="card_info">
                    <p>Por {{recipe.chef_name}}</p>
                </div>
                <input type="hidden" name="id" value="{{recipe.id}}">

            </div>
        {% endfor %}


    </section>

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
    ></div>

    <script src="/paginateScript.js"></script>