{% extends "layoutAdmin.njk" %}

{% block content %}


    <div class="form_header">   
        <h2>Gerenciar Receitas</h2> 
        <div>
            <a class="button" href="/admin/recipes/create">Criar Receita</a>
        </div>
    </div>

<section id="cards" class="admin">

        {% for recipe in recipes %}
            <div class="card_admin" id="{{recipes.recipe_title}}">
                <div class="image_container_admin">
                    <img src="{{recipe.recipe_url}}" alt="{{recipe.recipe_title}}">
                </div>
                <div class="card_content_admin">
                    <h2>{{recipe.recipe_name}}</h2>
                
                <div class="card_info_admin">
                    <p>{{recipe.recipe_author}}</p>
                </div>
                <span>Vizualizar</span>
                </div>
                

            </div>
            {% endfor %}   
    </section>
  

{% endblock %}


