@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

body{
    margin: 0 19%;
    font-family: Roboto;
}
p{
    font-size: 18px;
color: #444444;
line-height: 28px;
    
}

.navbar{
     font-family: Roboto;
    font-size: 16px;
    color: #111111;
    margin-top: 35px;
    margin-bottom: 35px;
}

.navbar a{
    text-decoration: none;
    color: black;
}
.navbar .logo{
    font-size: 25px;
    margin-right: 8.7% ;
    font-weight: bold;
}
.navbar .links{
    margin-left: 2.1%;
}


.header_content{
       background: #FBDFDB;
       border-radius: 30px;
       position: relative;
       margin-bottom: 40px;
       display: grid;
       grid-template-columns: 1fr 1fr;
       
}

.header_info{
    max-width: 316px;
    padding: 10% 0 10% 7%;
}
.header_info h1{
    font-family: Roboto;
    font-size: 32px;
    color: #111111;
}
.header_info div p{
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

header img{
    width: 50%;
    margin-left: 33%;
    margin-top: 10%;
}

/* wrapper */

#cards{
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
}


.image_container img{
    width: 100%;
    border-radius: 15px;
    image-rendering: pixelated;
    height: 140px;
}

.card_content h2{
    font-size: 18px;
    margin:16px 0 0 0;
}
.card_info p{
    font-size: 14px;
    color: #777777;
    margin: 0;
}


/* MODAL */

.modal_overlay{
    background-color: rgba(0, 0, 0, 0.699);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    height: 55%;
    width: 45%;
    position: fixed;
    top: 20%;
    left: 28%;
    border-radius: 16px;
    border-radius: 16px;
    text-align: center;
}

.modal_image img{
border-radius: 15px;
width: 90%;
height: 50%;
margin: 5% 5% 2% 5%;
}

.modal_content{
    margin-top: 0;
}
.modal_content h2{
    font-size: 24px;
color: #111111;
margin: 0 0 0 0;
}
.modal_content p{
    font-size: 18px;
    color: #777777;
    margin: 0 0 0 0;
}
.modal_close{
    margin-top:8%;
    cursor: pointer;
}

/* modal overlay */
.modal_overlay.active{
    opacity: 1;
    visibility: visible;
}

/* Receitas pagina  */

.recipe-image img{
    border-radius: 15px;
    max-width: 940px;
    width: 100%;
    
}

.lista{
    padding-left: 15px;
    line-height: 1.5;
}


.recipe-author, .recipe-title{
    text-align: center;
}


/* Hide and show button */
.hide{
    display: none;

}
.recipes{
    position: relative;
}
.btn-show.one{
    color: #444444;
    position: absolute;
    left: 144px;
    top: -13px;
    font-size: 14px;
    cursor: pointer;
}
.btn-show.two{
    color: #444444;
    position: absolute;
    left: 189px;
    top: -13px;
    font-size: 14px;
    cursor: pointer;
}
.btn-show.three{
    color: #444444;
    position: absolute;
    left: 259px;
    top: -13px;
    font-size: 14px;
    cursor: pointer;
}



/* *****Admin****** */

/* nav */
.navbar_admin{
    background-color: #000000;
    padding: 16px;
}

/* cards  admin */

#cards.admin {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    box-sizing: border-box;
    cursor: default;
}
.card_admin{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image_container_admin img{
    width: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    height: 100px;
    image-rendering: pixelated;
    
}

.card_content_admin {
    margin:0 0 0 5%;
}

.card_content_admin h2{
    font-size: 18px;
    margin: 0;
}

.card_info_admin p{
    font-size: 14px;
    color: #777777;
    margin: 0;
}

.card_content_admin span {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #6558C3;
}


/*  ADMIM FORM */
form .item{
margin-top: 16px;
}

form span{
    text-decoration: none;
    color: #6558C3;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
}

.form_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items:center;
}

.form_header div{
    text-align: right;
}

button[type="submit"] {
    background: #6558C3;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    

}

input{
    width: 100%;
    height: 5%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 6px;
}

form .item:last-child:last-child div {
    width: 100%;
    
}
.item div textarea{
    resize: none;
    width: 100%;
    border: 1px solid #DDDDDD;
}













footer p{

    background: #EEEEEE;
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 10px;
}

