
    <div class="item">
        <div>Chef Name</div>
        <div> 
            <input 
                type="text"
                name="title"
                value="{{chef.name}}"
             >
        </div>
    </div>
    <div class="item">
        <div>Chef`s Avatar</div>
        <div> 
            <input 
                type="url"
                name="image"
                value="{{chef.avatar_url}}"
             >
        </div>
    </div>