{% extends "layoutAdmin.njk" %}

{% block content %}


    <div class="form_header">   
        <h2>Gerenciar Chefs</h2> 
        <div>
            <a class="button" href="/admin/chefs/create">Cadastra Chef</a>
        </div>
    </div>

<section id="cards" class="chefs">

        {% for chef in chefs %}
        
            <div class="card_admin" id="{{chef.name}}">
                <div class="image_container_chef">
                    <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
                </div>
                <div class="card_content_admin">
                    <h2>{{chef.name}}</h2>
                
                <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                
                </div>

            </div>
            {% endfor %}   
</section>
  

{% endblock %}


