<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block head %}
        <title>Admin Foodfy</title>
    {%endblock%}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar_admin ">
        <a class="logo" href="/admin/recipes"><img src="/assets/logoBranco.png" alt="logo"></a>
        <a class="links " href = "/admin/recipes">RECEITAS</a>
        <a class="links" href="/admin/chefs"> CHEFS</a>
    </nav>

    

    {% block content %}
    {% endblock %}


    <script src="/adminScript.js"></script>


</body>

</html>