<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block head %}
        <title>Foodfy</title>
    {%endblock%}

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
</head>


<body>
<div class="container-flex">
    <nav class="navbar">
        <a class="logo" href="/"><img src="/assets/logo.png" alt="logo"></a>
        <a class="links" href="/sobre">Sobre</a>
        <a class="links" href="/recipes">Receitas</a>
        <a class="links" href="/Chefs">Chefs</a>
    </nav>

    

    {% block content %}
    {% endblock %}


    
    
    <script src="/script.js"></script>
</div>
</body>
    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
</html>